.uws-badge--right {
    transform-origin: top right;
    transform: rotate(-90deg) translate(var(--badge-top), -100%);
    z-index: 5000000 !important;
    top: 70% !important;
}
button.uws-badge.uws-badge--bottom {
    left: 99% !important;
}
/*
.uws-choose-one.uws-survey-element {
    text-align: center!important;
    justify-content: center!important;
    display: grid!important;
}
.uws-choose-one-star-rating__row {
    align-items: center;
    display: inline-flex!important;
}
*/
.uws-modal__header {
    margin-bottom: var(--modal-innerPadding);
    padding: 0 var(--modal-padding);
    justify-content: center;
    display: flex;
}
.uws-modal__logo {
    background-image: var(--modal-logoUrl);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center !important;
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100px !important;
    height: 100px !important;
}
.uws-modal.uws-survey.uws-survey-modal {
    max-width: 550px !important;
}
[data-uws-element = "Q28"] .uws-question-heading__required {
    display: none;
}
.uws-survey {
    font-family: 'cmiTxt'!important;
    font-size: 14px!important;
}
.uws-modal__footer {
    position: static!important;
}
.uws-notification--mobile .uws-notification__footer {
    box-shadow: none !important;
}
.uws-modal__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.uws-invite__title {
    text-align: center;
}
.uws-invite__description {
    text-align: center;
}
.uws-modal__footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.uws-survey-control .uws-button {
    max-width: 20vw!important;
    width: 20vw!important;
}